@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


table {
  font-family: 'Noto Sans', sans-serif;
  // min-width: 681px;
  min-width: 531px;
  border-top: solid 0.5px rgb(229, 229, 229);
  border-bottom: solid 0.5px rgb(229, 229, 229);
  // td {
  //   border: solid 1px black;
  // }
  .td-empty-top {
    padding-top: 20px;
  }
  .td-empty-bottom {
    padding-bottom: 20px;
  }
  .td-skip-a-line {
    padding: 5px 0;
  }
  .td-logos {
   text-align: center;
  }
}

// .margin-right {
//   padding-right: 320px;
// }

.margin-right {
  padding-right: 170px;
}

.dev-in-net {
  width: 130px;
  padding: 0 30px;
}

.bold {
  font-weight: bold;
}

.padding-left {
  padding-left: 50px;
}

.logo {
  height: 23px;
  width: 23px;
  margin-top: 3px;
  margin-right: 12px;
}

.linkedin-devinnet {
  height: 23px;
  width: 23px;
}

.gif {
  width: 100px;
}

.keryan {
  font-size: 25px;
  color: #023047;
}

.font-size {
  font-size: 15px;
  color: #023047;
}

.vertical-divider {
  border-left: 4px solid #FFA033;
  height: 20px;
  margin: 0 10px;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.color-link:-webkit-any-link {
  color: #023047!important;
  text-decoration: none !important;
}

.center {
  display: flex;
  align-items: center;
}

.min-width-kevin {
  min-width: 573px;
}
