@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


table {
  font-family: 'Noto Sans', sans-serif;
  min-width: 450px;
  .td-skip-a-line {
    padding: 10px 0;
  }
  .td-logos {
   text-align: center;
  }
  .dev-in-net {
    width: 130px;
    padding: 0 15px;
  }
}

.bold {
  font-weight: bold;
}

.padding-left {
  padding-left: 50px;
}

.logo {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.linkedin-devinnet {
  height: 23px;
  width: 23px;
}

.gif {
  width: 100px;
}

.keryan {
  font-size: 25px;
  color: #023047;
}

.font-size {
  font-size: 15px;
  color: #023047;
}

.vertical-divider {
  border-left: 4px solid #ffb703;
  height: 20px;
  margin: 0 10px;
}
a:-webkit-any-link {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.color-link:-webkit-any-link {
  color: #fb8500!important;
  text-decoration: none !important;
}

.color-link-blue:-webkit-any-link{
  color: #219ebc!important;
  text-decoration: none !important;
}

.center {
  display: flex;
  align-items: center;
}
